<div class="component-global-footer">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="footer-info">
        <div class="headline">
            <img src="https://marvel-b1-cdn.bc0a.com/f00000000210829/www.lionsclubs.org/themes/lionsclubs/images/brand/LCI_logo_white.png" 
            be_marvel="1" onerror="this.onerror=null;this.src='/themes/lionsclubs/images/brand/LCI_logo_white.png'">
        </div>
        
        <div class="address">
            <a href="https://goo.gl/maps/74BvQXQFC6u" target="_blank">
                <p>300 W. 22nd Street</p>
                <p>Oak Brook, IL 60523-8842 USA</p>
            </a>
            <a href="tel:+1 (630) 571-5466">
                <p>+1 (630) 571-5466</p>
            </a>
        </div>                    
    </div>

    <div class="footer-social desktop">
        <a href="https://www.facebook.com/lionsclubs/" class="facebook" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/lionsclubs/" class="instagram" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/lions-clubs-international" class="linkedin" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/lionsclubs" class="twitter" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://youtube.com/lionsclubs" class="youtube" target="_blank">
            <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
    </div>

</div>
