<app-carousel></app-carousel>
<img src="assets/images/Serve.png" alt="">
<div class="container">
    <p>
        Over 1.4 million Lions across the globe are stepping up to serve their communities during 
        the coronavirus (COVID-19) pandemic. These new challenges have changed the way we live, but 
        our dedication to helping those in need is as strong as it was when we first opened our doors 
        more than 100 years ago.
    </p> 
    <a href="https://www.lionsclubs.org/en/discover-our-clubs/about-us">Discover our good ></a> 
</div>

